.fios-home {
  color: $gray;
  font-size: $font-size;
  h1, h2, h3, h4 {
    font-family: $title-family;
  }
  h3 {
    font-size: $font-size-title;
    @media only screen and (min-width: $screen-md) {
      line-height: 1.5;
    }    
  }
  p {
    font-size: $font-size;
    line-height: 1.5;
  }
}
