<main class="fios-home">
    <header class="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img class="img-responsive" alt="Brand" src="./images/fios-logo-gray.png">
                        <!-- <img class="img-responsive" alt="Brand" src="~/media/90B5AD23CC9741FF88EBA027046B9FBF.ashx"> -->
                    </a>
                </div>
                <a href="tel:18775912396" class="navbar-text navbar-right order-link">Order Now at 1.877.591.2396</a>
            </div>
        </nav>
        <div class="brand flex-container">
            <div class="flex-row">
                <h1 class="flex-item">
                  <!-- <img alt="" class="img-responsive" src="~/media/0863DE7E9EFB438FB91232B4F4AA99F7.ashx"> -->
                  <img class="img-responsive" src="./images/fios-logo-by-frontier.png" alt="">
                </h1>
                <h2 class="flex-item subtitle">It's not cable</h2>
            </div>
        </div>
    </header>
    <div class="hero-banner-wrapper">
        <!-- <img alt="" class="hero-img" src="~/media/2470067943C94518835052FF165BFEA2.ashx"> -->
        <img class="hero-img" src="images/placeholder.gif" alt="">
        <div class="title-banner">
            <h3>IT’S NOT CABLE</h3>
            <h4>WITH BETTER FEATURES, AND A BETTER PRICE,</h4>
            <h3 class="strong">IT’S BETTER THAN CABLE.</h3>
        </div>
    </div>
    <div id="pageContainer" class="show-cart">
        <div class="cta-bar">
            <div class="cta-bar-flex">
                <div class="cta-text itm">Call <span class="cta-cart-meta">or click</span> now for incredible offers</div>
                <div class="cta-phone itm">
                  <img alt="" src="images/callIcon-cart.png">
                  <!-- <img src="~/media/FF06B3B9299C446484CC7AEFD1DD60D5.ashx"> -->
                  <a href="tel:8881234567">888.123.4567</a>
                </div>
                <div class="cta-shop itm">
                    <span class="cta-cart-link">
                      <img alt="" src="images/shopIcon-cart.png">
                      <!-- <img src="~/media/DF767159B21B45108AF2A05A88CE589E.ashx">  -->
                      <a href="http://frontier.com/order-online">Shop Online</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
                <img src="images/red-phone-icon-2.png">
                <img alt="" height="64" width="64" src="~/media/1E8C29C4FAEA4491B718C684E6E7AF25.ashx">
                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section> -->
    <section class="l-bg light bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Come Over to the Light Side</h3>
                    <p>It&rsquo;s important to have connections you can count on. Whether it&rsquo;s watching the game of the week, shopping online, streaming your favorite series, or gaming with friends, FiOS<sup>&reg;</sup> by Frontier is the best equipped
                        network to handle all the devices in your home at the same time.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    <img class=" img-responsive text-center m-auto hidden-md hidden-lg" src="images/side.jpg" alt="">
                    <!-- <img alt="" class=" img-responsive text-center m-auto hidden-md hidden-lg" src="~/media/F76333073FA44688B972E1E9A4176BA5.ashx"> -->
                    <!-- <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src='//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5355267796001' allowfullscreen frameborder=0></iframe>
                      </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg fiber bg-r">
        <div class="container">
            <div class="row post ">
                <div class="col-sm-12 col-md-4 col-lg-6"></div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Fiber Optics Changes Your Life Online</h3>
                    <p>Play, connect, post, download, stream, upload, watch. The FiOS<sup>&reg;</sup> 100% fiber-optic network withstands even the worst weather. And gives you bandwidth you need to drive all your devices. Together. All at the same time.
                        </p>
                </div>

            </div>
        </div>

    </section>
    <section class=" bg-section upload">
        <div class="container">
            <div class="row post">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Upload as Fast as You Download</h3>
                    <p>Cable only talks about download internet speeds. But the Internet is a 2-way street, and you need fast upload speeds for everyday activities like sharing pictures and videos. So if your Internet is slow, you need fast internet speeds
                        from FiOS<sup>&reg;</sup>.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6"></div>
            </div>
        </div>
    </section>

    <div class="red-bar"></div>

    <section class="l-bg future bg-section bg-r">
        <div class="container">
            <div class="row post">
                <div class="col-sm-12 col-md-4 col-lg-6"></div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Experience the Future of Entertainment</h3>
                    <p>One source, tons of what you want to watch. Ready to crush your favorite series? What about your favorite sports programming? You up for a major movie night? Get it all on FiOS<sup>&reg;</sup> TV by Frontier with the click of a button.</p>
                </div>

            </div>
        </div>

    </section>
    <section class="netflix d-bg bg-section">
        <div class="container">
            <div class="row post vertical-align">
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3>Fully integrated Netflix*</h3>
                  <p>No extra devices needed. Access Netflix* from your FiOS<sup>&reg;</sup> remote on every TV with a DVR in your home. A seamless experience, only on FiOS TV by Frontier.</p>
                  <small>*Netflix streaming membership required</small>
              </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="images/netflix.png" alt="" class="img-responsive">
                    <!-- <img alt="" class="img-responsive" height="350" width="670" src="~/media/D50D41BB44BF4B27ADF2BCE93F1BD617.ashx"> -->
                </div>
            </div>
        </div>
    </section>
    <section class="bg-section voice">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- <img src="images/voice.png" alt="" class="img-responsive"> -->
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Tell us what you want</h3>
                    <p>Do you talk to your Amazon dot, Echo or tap? Now you can ask Alexa to change your channels or search your guide. She’ll listen…and act.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="theater bg-section">
        <div class="container">
            <div class="row post vertical-align">
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <h3>Skip the Theater&hellip; Make It a Movie Night</h3>
                  <p>150,000 titles to rent or buy from the largest video on demand library available. Blockbusters, Action, Comedy, Thrillers, Drama, Kids Movies, TV series. You WILL find something great on FiOS TV.</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <!-- <img alt="" src="~/media/5A1F09E293704172A2BBBD223C2EAEB7.ashx" class="img-responsive"> -->
                  <img src="images/demand.jpg" alt="" class="img-responsive">
              </div>
            </div>
        </div>
    </section>

    <section class="l-bg">
        <div class="container">
            <div class="row post l-bg vertical-align">
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <!-- <img alt="" src="~/media/3B98C02B0F2F4DF2A193D210CA0ADB4E.ashx" class="img-responsive"> -->
                  <img src="images/tv-everywhere.png" alt="" class="img-responsive">
              </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>TV Everywhere</h3>
                    <p>Take all your FiOS<sup>&reg;</sup> TV entertainment with you. Download the TV Everywhere App to watch live TV and Video on Demand and even schedule DVR recordings with your mobile phone or tablet.</p>
                </div>
            </div>
        </div>

    </section>
    <section class="dvr bg-section d-bg bg-r">
        <div class="container">
            <div class="row post">
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Whole-Home DVR</h3>
                    <p>Get big and stay home. FiOS<sup>&reg;</sup> TV by Frontier lets you record up to 12 shows at the same time, and keep up to 300 hours of recording. When you&rsquo;re watching live, do it your way: pause, rewind and play back. Requires
                        additional fees.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="wireless bg-section vertical-align bg-c">
        <div class="container">
            <div class="row post">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Wireless Set Top Box</h3>
                    <p>Use your wireless set top box to watch FiOS<sup>&reg;</sup> TV anywhere in your house, even outside. Enjoy the freedom of wireless entertainment.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
            </div>
        </div>
    </section>
    <section class="music bg-section vertical-align bg-c">
        <div class="container">
            <div class="row post">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="images/music.png" alt="" class="img-responsive">
              </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>We’re in tune with your music</h3>
                    <p>Listen up! Your MusicChoice app now has 50 more channels, and is easier to use. No more searching for music and videos. They’re served up to you, just the way you wan to listen and watch your favorites. Tune in.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="offer">
        <img class="offer-img" src="images/placeholder-offer.png"  alt="">
          <img class="offer-img-mobile" src="images/placeholder-offer-mobile.png"  alt="">
        <!-- <img alt="" class="offer-img" src="~/media/624B7C694DEA424AB5F95C222B777BED.ashx">
        <img alt="" class="offer-img-mobile" src="~/media/54EE71B2F4B642C29251E8D659560FF4.ashx"> -->
    </section>

    <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer>

</main>
